package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * $!{table.comment}
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} {
	
}
