<#assign base=request.contextPath /> 
<div class="bjui-pageContent">
	<form action="${base}#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end/update" data-toggle="validate" method="post">
		<input type="hidden" name="id" value="${bean.id}"/>
#set($bg='${bean.')
#set($ed='}')
#foreach($field in ${table.fields})
#set($keyPropertyName=${field.propertyName})
#if(${field.keyIdentityFlag})
## 主键不生成
#elseif(${field.convert})
		<div class="form-group">
            <label class="control-label x85">${field.comment}：</label>
            <input type="text" name="${keyPropertyName}" value="${bg}${keyPropertyName}${ed}" placeholder="${field.comment}" size="20">
        </div>
#end
#end
	</form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">修改</button></li>
    </ul>
</div>